@media (max-width: 767px) {
  #header{
    margin-top: 0;
    text-align: left
  }
  #main .actions{
    margin-top: 1rem;
  }
  #pics{
    margin-top: 2rem;
    height: 25rem;
  }

}

@media (min-width: 768px) {
  #header{
    margin-top: 15rem;
    text-align: center;
  }
  #main .actions{
    margin-top: 2rem;
  }
  #pics{
    height: 25rem;
  }
}


.heading{
  font-size: 6rem;
  font-weight: bold;
  color: maroon;
  margin-top: 0;  
}

.heading-font1{
  font-family: 'Droid Serif', serif;
}

.heading-font2{
  font-family: 'Vollkorn', serif;
}

.heading-font3{
  font-family: 'Libre Baskerville', serif;
}


/* Currently in use */
.heading-font4{
  font-family: 'Neuton', serif;
}

.heading-font5{
  font-family: 'Bree Serif', serif;
}

#main{
  margin-top: 2rem;
}

#intro{
  font-size: 2rem;
  font-family: 'Neuton', serif;
}

#intro a, a:hover, a:visited{
  color: maroon;
  text-decoration: none;
}

#intro .btn{
  color: maroon;
  font-family: verdana, sans-serif;
  font-size: 1.25rem;
  border-radius: 0;
}

#text{
  height: 20rem;
}

#slack-invite-form{
  display: none;
  margin-top: 20rem;
}
#slack-invite-form fieldset{
  margin: 2rem;
}
#slack-email{
  font-size: 2rem;
}